ASReml_performance*
.Rhistory
.RData
.Rproj.user
pvdiv-phenology-gxe.Rproj
.Rbuildignore
large-files/

# Large .rds that I identify and rename appropriately
*_.rds
GWAS_object_*
GWAS_datatable_*
Annotation_tables*
SVD_*
*Rplots.pdf
*.out
data-raw/ignore/
*.zip
data/older/
analysis/gwas/GDD/Lambda*
analysis/heritability/single_sites/
analysis/heritability/nine_sites/
analysis/gwas/BLUPs/single_sites/Lambda*
analysis/gwas/BLUPs/single_sites/Manhattan*
analysis/gwas/BLUPs/single_sites/QQplot*
analysis/gwas/BLUPs/single_sites/*


# docx working files in manuscript
manuscript/~$*

