.Rhistory
.RData
.Rproj.user
pvdiv-phenology-gxe.Rproj
.Rbuildignore
large-files/

# Large .rds that I identify and rename appropriately
*_.rds
GWAS_object_*
GWAS_datatable_*
Annotation_tables*
SVD_*
*Rplots.pdf
*.out
data-raw/ignore/
*.zip
data/older/